
<div class="changePdding" *ngIf="spellData?.length>0">
  <div class="local-team-detail-clum"  id="local-team-detail-clum-id" (click)="goToJoinDetail(item.fightId)" *ngFor="let item of spellData">
    <div class="team-detail-header">
      <img class="team-detail-img"
           [lazyLoad]="item.iconUrl"
           [defaultImage]="'/assets/images/placeholder_head_pic.png'"
           [errorImage]="'/assets/images/placeholder_head_pic.png'"
           [scrollTarget]="scrollContainer"
           (click)="goPersonalPage(item.userId);$event.stopPropagation();"
      />
      <div class="team-detail-font">
        <div class="team-detail-font-text">{{item.leaderUserName}}</div>
        <img src="{{item.appImgtxtUrl||' '}}" alt="">
      </div>
      <span></span>
    </div>

    <div class="team-detail-spell" >
      <p class="team-spell">拼球：{{item.title}}</p>
      <div class="team-time">
        <i></i>
        <span>{{item.startTime|amDateFormat:'DD-MM-YY '}}  周{{item.startTime|ChineseWeek }} {{item.startTime|amDateFormat:'HH:mm'}}-{{item.endTime|amDateFormat:'HH:mm'}}</span>
      </div>

      <div class="team-location">
        <i></i>
        <span>{{item.place||'暂无'}}</span>
      </div>

      <p class="team-expense">
        <i></i>
        <span>{{item.payMethod==1?'AA':'免费'}}</span>
      </p>
    </div>
    <div class="team-icon">
      <div class="team-icon-img" [class.teamSpell1]="item.status==1"
           [class.teamSpell2]="item.status==2"
           [class.teamSpell3]="item.status==3"
           [class.teamSpell4]="item.status==4"
           [class.teamSpell5]="item.status==5"
      >{{item.status==1?'报名中':(item.status==2?'拼球成功':(item.status==3?'拼球失败':(item.status==4?'已关闭':'已结束'))) }}</div>
    </div>
  </div>
  <div class="contentLook" (click)="TipCommon()" *ngIf="spellData?.length==10">
    <div class="lookMore">下载球苗App，看更多精彩内容</div>
  </div>
</div>
<missing-default-content
  *ngIf="spellData?.length==0"
></missing-default-content>
