@import '../../app/shared/styles/theming.scss';
.seed-person-homepage{
  width:100%;
  .person-header{
    width:100%;
    height:pxTorem(424);
    background:url('../../assets/images/personal_bannerbg.png') no-repeat center center/cover;
    .person-icon{
      position: absolute;
      top:pxTorem(28);
      right:pxTorem(28);
      width:pxTorem(30);
      height:pxTorem(30);
    }
    .person-Info{
      width:100%;
      height:100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
        .person-image{
          width:pxTorem(164);
          height:pxTorem(164);
          border-radius: 50%;
          position: relative;
          display: flex;
          align-items: center;
          border:1px solid color($h5,c10);
          .person-img{
            width:pxTorem(140);
            height:pxTorem(140);
            border-radius: 50%;
          }
          .little-icon{
            width:pxTorem(30);
            height:pxTorem(30);
            position: absolute;
            bottom:pxTorem(5);
            right:pxTorem(15);
          }
        }
      .person-name{
        margin:pxTorem(18) 0;
        color:color($h5,c10);
        @include font-dpr(34px);
      }
      .person-check{
        height:pxTorem(30);
        color:color($h5,c10);
        @include font-dpr(24px);
        margin-bottom: pxTorem(18);
      }
      .person-edit{
        @include font-dpr(24px);
        color: color($h5,c10);
        img{
          width:pxTorem(25);
          height:pxTorem(25);
          vertical-align: middle;
        }
        .edit-tools{
          width:pxTorem(20);
          height:pxTorem(20);
          //margin-left:pxTorem(8);
          vertical-align: baseline;
        }
      }
    }
  }
  .person-clum{
    width:100%;
    overflow: hidden;
    height:pxTorem(70);
    a{
      float:left;
      width:25%;
      text-align: center;
      height:pxTorem(70);
      line-height: pxTorem(70);
      @include font-dpr(30px);
      color:color($h5,c2);
      span{
        display: inline-block;
        box-sizing: border-box;
        height:pxTorem(70);
        line-height: pxTorem(70);
      }
    }
    .person-clum-current{
      color: color($h5,c1);
      span{
        border-bottom: 1px solid color($h5,c1);
      }
    }
  }
}

.seed-person-homepage:after{
  content:' ';
  background:color($h5,c9);
  height:pxTorem(15);
  display: block;
  width:100%;
}









