<seed-toolbar-header>
  <seed-toolbar-home></seed-toolbar-home>
  <seed-toolbar-title></seed-toolbar-title>
  <seed-toolbar-menu></seed-toolbar-menu>
</seed-toolbar-header>
<seed-content>
    <div class="search-results"
       infiniteScroll
       [infiniteScrollDistance]="2"
       [infiniteScrollThrottle]="300"
       [infiniteScrollContainer]="ele"
       (scrolled)="onScroll()">
      <seed-feed-profile [feeds]="feeds" *ngIf="!noInfo" ></seed-feed-profile>
    </div>
      <missing-default-content
    *ngIf="noInfo && !loading"
  ></missing-default-content>
</seed-content>
