@import "../../../shared/styles/theming";

.article-info-details {
  .header {
    padding:1rem 0px pxTorem(15px);
    .article-title {
      font-size: 2.2rem;
      padding-bottom:1rem;
    }
    .article-publish-info {
      color: color($h5, c4);
      padding-bottom: 1rem;
      border-bottom: 0.1rem solid #f0f0f0;
      span {
        font-size: 1.6rem;
      }
    }
  }
  .article {
    & * {
      font-size: 1.8rem;
      line-height: 2.8rem;
      word-break: break-all;
      text-align: justify;
    }
    img{
      padding: 0px;
    }
    img, video {
      width: 100%;
      display: block;
      max-width: 100%;
      padding: pxTorem(15px) 0px;
    }
  }
}

//咨询详情推荐文章
.article-info-comments-warp {
  background: white;
  padding-top: pxTorem(30px);

  .title {
    font-weight: bold;
    @include font-dpr(32px);
    color: color($h5, c2);
  }
  .article-info-comment-profile {
    display: block;
    color: color($h5, c2);
    @include font-dpr(28px);
    margin: pxTorem(30px) 0px;
  }
}

//资讯详情推荐文章评论


.article-info-action-bar {
  display: flex;
  align-items: center;
  background: #FFFFFF;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width:100%;
  z-index:999;
  padding: pxTorem(30px) pxTorem(40px);
  border-top: pxTorem(2px) solid color($h5, c8);
  border-bottom: pxTorem(2px) solid color($h5, c8);
  .inform-btn-warp {
    flex-grow: 1;
    .inform-btn {
      width: pxTorem(95px);
      height: pxTorem(42px);
      background: url(#{$images-path}/icon_infor_read.png) no-repeat center center/contain;
    }
  }

  .comment-count-btn {
    height: pxTorem(44px);
    position: relative;
    width: pxTorem(44px);
    margin-right: pxTorem(85px);
    background: url(#{$images-path}/icon_comment_read.png) no-repeat center center/contain;
    .comment-count-around {
      top: -32%;
      left: 80%;
      font-size: pxTorem(20px);
      position: absolute;
      line-height: pxTorem(20px);
      border-radius: pxTorem(10px);
      color: color($h5, c10);
      background: color($h5, c11);
      word-break: normal !important;
      padding: pxTorem(5px) pxTorem(7px);
    }
  }
  .author-personal-homepage {
    width: pxTorem(50px);
    height: pxTorem(50px);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-image: url(#{$images-path}/subscript_pic.png);
  }
}

