<div class="person-circle-page">
  <div class="circle-launch">
    <div class="launch-team">
      <div class="launch-team-name">创建的球队</div>
      <div class="launch-team-more">
        <span>更多</span>
        <i></i>
      </div>
    </div>
    <div class="launch-team-info" *ngIf="creatCheck=='yes'">
      <div class="img-out">
        <img
          src="{{dealCreate.iconFileUrl||'../../../assets/images/placeholder_head_pic.png'}}"
        >
        <div class="launch-team-detail">
          <div class="launch-team-name">{{dealCreate.name||'无'}}</div>
          <ul>
            <li>
              <p>队长</p>
              <div>{{dealCreate.captainNickName||'无'}}</div>
            </li>
            <li>
              <p>人数</p>
              <div>{{dealCreate.countPlayer||0}}人</div>
            </li>
            <li>
              <p>简介</p>
              <div>{{dealCreate.intro||'无'}}</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <missing-default-content
      [text]="'您还没有创建球队~'"
      [srcurl]="'../../../assets/images/default_groups_createteam.png'"
      *ngIf="creatCheck=='no'"
      (click)="TipCommon()"
    ></missing-default-content>
  </div>
  <div class="circle-launch circle-join">
    <div class="launch-team">
      <div class="launch-team-name">加入的球队</div>
      <div class="launch-team-more">
        <span>更多</span>
        <i></i>
      </div>
    </div>
    <div class="launch-team-info" *ngIf="joinCheck=='yes'">
      <div *ngFor="let item of dealJoin" class="img-out">
        <img
          src="{{item.iconFileUrl||'../../../assets/images/placeholder_head_pic.png'}}"

        >
        <div class="launch-team-detail">
          <div class="launch-team-name">{{item.name||'无'}}</div>
          <ul>
            <li>
              <p>队长</p>
              <div>{{item.captainNickName||'无'}}</div>
            </li>
            <li>
              <p>人数</p>
              <div>{{item.countPlayer||0}}人</div>
            </li>
            <li>
              <p>简介</p>
              <div>{{item.intro||'无'}}</div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <missing-default-content
      [text]="'您还没有创建球队~'"
      [srcurl]="'../../../assets/images/default_groups_jointeam.png'"
      *ngIf="joinCheck=='no'"
      (click)="TipCommon()"
    ></missing-default-content>
  </div>
</div>
