@import '../../../app/shared/styles/theming.scss';
.person-fans-page{
  background:color($h5,c9);
  .my-care{
    width:100%;
    .launch-team{
      width:100%;
      padding:pxTorem(30) 0 pxTorem(40);
      overflow: hidden;
      padding-right:pxTorem(20);
      box-sizing: border-box;
      background:color($h5,c10);
      .launch-team-name{
        float:left;
        border-left:6px solid #01A87C;
        padding-left:pxTorem(20);
        @include font-dpr(28px);
        color:color($h5,c2);

      }
      .launch-team-more{
        float:right;
        span{

        }
        i{
          display: inline-block;
          width:pxTorem(20);
          height:pxTorem(11);
          vertical-align: middle;
          margin:pxTorem(-4) 0 0 pxTorem(10);
          background:url('../../../assets/icon/arrow.png') no-repeat;
          background-size: pxTorem(20) pxTorem(11);
          transform: rotate(-90deg);
        }
      }
    }
    .my-care-fans{
      width:100%;
      overflow: hidden;
      ul {
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-wrap: wrap;
        background: color($h5,c10);
        padding: 0 pxTorem(20) pxTorem(10);
        box-sizing: border-box;
      }
      li {
        width: 25%;
        float:left;
        padding-top:pxTorem(10);
        padding-bottom: pxTorem(20);
        .content {
          text-align: center;
        }
        .avatar {
          width: pxTorem(100);
          height: pxTorem(100);
          margin: auto;
          border-radius: 50%;
        }
        .nickname {
          margin-top: pxTorem(15);
          margin-bottom: 0;
          @include font-dpr(24px);
          @include text-overflow-ellipsis(100);
        }
        .identity {
          position: absolute;
          right: pxTorem(-10);
          top: pxTorem(10);
          padding: 0 pxTorem(8);
          @include font-dpr(16px);
          border-radius: pxTorem(26);
          font-style: normal;
          color: #fff;
        }
        .team {
          background-color: #23b891;
        }
        .user {
          background-color: #fea961;
        }
      }
    }
  }
  .my-fans:before{
    content: ' ';
    display: block;
    width:100%;
    height:pxTorem(15);
    background:color($h5,c9);
  }
  .my-fans:after{
    content: ' ';
    display: block;
    width:100%;
    height:pxTorem(25);
  }
  missing-default-content .spellMissingPage1{
    padding-top:0;
  }
}






