<div class="person-events">
  <ul class="seed-events" *ngIf="eventList.length>0&&eventList[0]!='无'">
    <li
      *ngFor="let item of eventList"
      (click)="routerDetail(item.id,item.status)"
    >
      <img
        [lazyLoad]="item.iconUrl"
        [defaultImage]="'/assets/images/new_default_pic.png'"
        [errorImage]="'/assets/images/new_default_pic.png'"
      >
      <div class="events-list-clum">
        <div class="events-clum-top">
          <span class="events-type">{{item.matchType }}</span>
          <span class="events-resume">{{item.matchName}}</span>
        </div>
        <div class="events-clum-bottom">
          <span class="events-out-time">{{item.startTime|amDateFormat:'DD-MM-YYYY'}}</span>
          <span class="events-clock">{{item.startTime|amDateFormat:'HH:mm'}}</span>
          <img src="{{nowdate<item.signStartTime?beforeapply:item.status==4?applying:(item.status==5?applyend:
          (item.status==6?applyplay:(item.status==7?applyfinshed:' ')))}}">
        </div>
      </div>
    </li>
    <div class="contentLook" (click)="TipCommon()" *ngIf="eventList?.length==6">
      <div class="lookMore">下载球苗App，看更多精彩内容</div>
    </div>
  </ul>
  <missing-default-content
    *ngIf="eventList.length==1&&eventList[0]=='无'"
  ></missing-default-content>

</div>



