<seed-toolbar-header>
  <seed-toolbar-home></seed-toolbar-home>
  <seed-toolbar-title></seed-toolbar-title>
  <seed-toolbar-menu></seed-toolbar-menu>
</seed-toolbar-header>
<seed-content >
  <div class="noticePage">
    <div class="tieZiMissingPage" *ngIf="mesObj?.length == 0">
      <missing-default-content [text]="'还没有你的评论哦~'" [srcurl]="'../../../../assets/images/image_nomore.png'"></missing-default-content>
    </div>

    <div class="gap"></div>
    <div class="cardWrap" *ngFor="let v of mesObj">
      <div class="cusCard">
        <div class="avatarBox">
          <div class="avatar">
            <img
              [lazyLoad]="v.userInfoBasicRespVO.iconUrl"
              [defaultImage]="'/assets/images/placeholder_head_pic.png'"
              [errorImage]="'/assets/images/placeholder_head_pic.png'"
              [scrollTarget]="scrollContainer"
            >
          </div>
          <div class="rightBox">
            <div class="name">{{v.userInfoBasicRespVO.nickName}}</div>
            <div class="dateTime">{{v.createDate}}</div>
          </div>
        </div>
        <span class="disc">{{v.feedTitle}}</span>
        <!--<span class="disc">在评论中@了你</span>-->
        <!--<span class="disc">给你的帖子点了赞</span>-->
        <div class="postContent">
          <span>原贴</span>
          <div class="content">
            <p>{{v.content}}</p>
            <!--<p>仿佛兮若青云之碧月，飘摇兮若流风之回雪……阿，好湿好湿好湿好湿好湿好湿好湿好湿</p>-->
          </div>
        </div>
      </div>
      <div class="gap"></div>
    </div>
  </div>
</seed-content>
