@import "../../styles/theming.scss";
missing-default-content {
  .spellMissingPage1 {
    width: 100%;
    padding-top: pxTorem(80);
    text-align: center; // height: 100%;
    background: color($h5, c10);
    padding-bottom:pxTorem(80);
    .missingBg {
      width: 100%;
      text-align: center;
      p {
        display: inline-block;
        width: pxTorem(134);
        height: pxTorem(176);
        img{
          width: pxTorem(134);
          height: pxTorem(176);
        }
      }

    }
    >p {
      @include font-dpr(24px);
      color: color($h5, c4);
      margin-top: pxTorem(8);
    }
    .clickLaunch {
      display: inline-block;
      margin-top: pxTorem(40);
      width: pxTorem(218);
      height: pxTorem(62);
      line-height: pxTorem(62);
      text-align: center;
      border: pxTorem(1) solid color($h5, c1);
      border-radius: pxTorem(6);
      @include font-dpr(28px);
      color: color($h5, c1);
    }
  }
}
