@import "../../../shared/styles/theming.scss";
.seed-person-picture{
  .picture-body{
    width:100%;
    overflow: hidden;
    img{
      float: left;
      width:pxTorem(240);
      height:pxTorem(240);
      margin-right: pxTorem(15);
      margin-bottom:pxTorem(15);
      //}
      img:nth-child(3n){
        margin-right:0;
      }
    }
  }
  .picture-body:before{
    content: ' ';
    display: block;
    width:100%;
    height:pxTorem(15);
    background: color($h5,c9);
  }
}
//网格
.seed-grid {
  * {
    box-sizing: border-box;
  }
  width: 100%;
  padding: 0px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  .seed-grid-row {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .seed-grid-col{
    position: relative;
    width: 100%;
    margin: 0;
    min-height: 1px;
  }
}

.share-picture {
  .seed-grid-col{
    padding: pxTorem(3px);
    a {
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 0;
      display: block;
      padding-top: 100%;
    }
  }
}
[col-4] {
  -ms-flex: 0 0 33.33333%;
  /* flex: 0 0 33.33333%;*/
  width: 33.33333%;
  max-width: 33.33333%;
  -webkit-flex: 0 0 33.33333%;
}
.icon-live:before{
  content: ' ';
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 3;
  background: url(#{$images-path}/icon_play.png) center center/35% no-repeat;
}

