@import '../local-spell-detail/local-spell-detail.component';

.spellDetailPageBody1 .spellDetailGrayBg .spellCardInfo .toggle-before{
  margin-bottom: 3em;
}
.joinFixed{
  -webkit-transform: translateZ(0);
  *zoom:1;
  z-index:500;
}
