<div class="seed-sliders-warp" *ngIf="gallery?.length > 0">
  <seed-swiper-container pager="true" auto="true" loop="true">
    <seed-swiper-slide
      *ngFor="let item of gallery;let idx=index"
    >

      <div class="seed-slider">
        <div
          class="seed-slider"
          [style.background]=" 'url('+ item.resUrl +') no-repeat center center/cover ' | safeStyle "
        >
        </div>
        <div class="seed-slides-title" >
          <div >{{item.title }}</div>
        </div>
      </div>
    </seed-swiper-slide>
  </seed-swiper-container>

</div>
