@import "../../../shared/styles/theming.scss";
.spellDetailPageBody1 {
  background: color($h5, c9);
  width: 100%;
  .spellDetailGrayBg {
    background: color($h5, c9);
    margin-bottom:pxTorem(141);
    //padding-bottom:5rem;
    padding-top:pxTorem(5);
    .spellCardInfo {
      background: color($h5, c10);
      width: 100%;
      position: relative;
      padding-top: pxTorem(30);
      margin-top: pxTorem(10);
      overflow: hidden;
      box-sizing: border-box;
      > div {
        margin-bottom: pxTorem(60);
        @include font-dpr(28px);
        color: color($h5, c2);
        overflow: hidden;
        padding-left: pxTorem(30);
        p {
          float: left;
          margin-right: pxTorem(15);
        }
        > span {
          float: left;
        }
      }
      .spellExpense {
        margin-bottom: 0;
      }
      .spellToggle {
        margin-bottom: 0;
        > div {
          margin-bottom: pxTorem(60);
          width: 100%;
          @include font-dpr(28px);
          color: color($h5, c2);
          overflow: hidden;
          p {
            float: left;
            margin-right: pxTorem(15);
          }
          span {
            float: left;
          }
        }
        .spellSystem {
          margin-top: pxTorem(60);
        }
        .spellMark {
          margin-bottom: 0;
        }
        > .spellNotes {
          margin-bottom: 0;
          overflow: hidden;
          p {
            float: left;
          }
          span {
            display: inline-block;
            max-width: pxTorem(550);
            float: left;
          }
        }
      }
      .spellArrow {
        text-align: center;
        line-height: pxTorem(85);
        margin-bottom: 0;
        padding-left:0;
        i {
          display: inline-block;
          width: pxTorem(20);
          height: pxTorem(13);
          background: url('../../../../assets/icon/arrow.png') no-repeat;
          background-size: pxTorem(20) pxTorem(11);
        }
      }
      .spellArrowRevise {
        i {
          background: url('../../../../assets/icon/arrow.png') no-repeat;
          background-size: pxTorem(20) pxTorem(11);
          transform: rotate(180deg);
        }
      }
      .spellTeamIntroduce {
        overflow: hidden;
        margin-bottom: pxTorem(20);
        > img {
          width: pxTorem(85);
          height: pxTorem(85);
          border-radius: 50%;
          float: left;
          margin-right: pxTorem(15);
        }
        .spellName {
          float: left;
          @include font-dpr(28px);
          height: pxTorem(85);
          line-height: pxTorem(85);
          color: color($h5, c2);
          div {
            float: left;
            max-width: pxTorem(300);
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .spellLittleUrlImg {
            height: pxTorem(30);
            margin-top: pxTorem(-5);
            margin-left: pxTorem(10);
          }
        }
      }
    }
  }
  .spellCardInfo .spellClass p {
    float: left;
    @include font-dpr(28px);
    color: color($h5, c2);
    font-weight: bold;
  }
  .spellCardInfo .spellClass span {
    float: left;
    max-width: pxTorem(460);
    @include font-dpr(28px);
    color: color($h5, c2);
    font-weight: bold;
  }
  .spellCardInfo .spellTime span {
    white-space: nowrap;
  }
  .spellCardInfo .spellMark {
    position: absolute;
    top: 0;
    right: pxTorem(30);
    .spellMarkInner > div .spellMarkPs i {
      display: inline-block;
      width: pxTorem(28);
      height: pxTorem(28);
      vertical-align: bottom;
      margin-right: pxTorem(2);
      background: url('../../../../assets/icon/time.png') no-repeat;
      background-size: pxTorem(26) pxTorem(26);
    }
    .spellMarkInner > div > .spellMarkPs > span:nth-child(2) {
      @include font-dpr(24px);
      color: color($h5, c10);
    }
    .spellMarkInner > div > .spellMarkPs > span:nth-child(3) {
      @include font-dpr(20px);
    }
    .spellMarkInner {
      position: relative;
      text-align: center;
      .spellMarkBg {
        width: pxTorem(121);
        height: pxTorem(131);
      }
      .spellMarkBgSpe1 {
        background: url('../../../../assets/icon/ing_bgxq.png') no-repeat;
        background-size: pxTorem(121) pxTorem(131);
      }
      .spellMarkBgSpe2 {
        background: url('../../../../assets/icon/complete_bgxq.png') no-repeat;
        background-size: pxTorem(121) pxTorem(131);
        padding-top:pxTorem(20);
      }
      .spellMarkBgSpe3 {
        background: url('../../../../assets/icon/success_bgxq.png') no-repeat;
        background-size: pxTorem(121) pxTorem(131);
        padding-top:pxTorem(20);
      }
      .spellMarkBgSpe4 {
        background: url('../../../../assets/icon/end_bgxq.png') no-repeat;
        background-size: pxTorem(121) pxTorem(131);
        padding-top:pxTorem(20);
        p {
          i {
            background: url('../../../../assets/icon/my_Spell_time.png') no-repeat;
            background-size: pxTorem(26) pxTorem(26);
          }
          color: color($h5, c4) !important;
          span {
            color: color($h5, c4) !important;
          }
        }
      }
      .spellMarkBgSpe5 {
        background: url('../../../../assets/icon/end_bgxq.png') no-repeat;
        background-size: pxTorem(121) pxTorem(131);
        padding-top:pxTorem(20);
        p {
          i {
            background: url('../../../../assets/icon/my_Spell_time.png') no-repeat;
            background-size: pxTorem(26) pxTorem(26);
          }
          color: color($h5, c4) !important;
          span {
            color: color($h5, c4) !important;
          }
        }
      }
    }
    .spellMarkInner > div .spellMarkPf {
      width: 100%;
      text-align: center;
      margin-top: pxTorem(34);
      margin-right: 0;
      @include font-dpr(24px);
      color: color($h5, c10);
    }
    .spellMarkInner > div .spellMarkPs {
      width: 100%;
      text-align: center;
      margin-top: pxTorem(5);
      @include font-dpr(24px);
      color: color($h5, c10);
      .spellMarkPsSpe {
        display: inline-block;
        margin-left: pxTorem(2);
        @include font-dpr(22px);
      }
    }
  }
  .spellLocation {
    margin-bottom: pxTorem(20);
    width: 100%;
    margin-top: pxTorem(20);
    padding: pxTorem(30) 0 pxTorem(30) pxTorem(30);
    overflow: hidden;
    background: color($h5, c10);
    .spellLocationPlace {
      float: left;
      .spellLocationName {
        @include font-dpr(28px);
        color: color($h5, c2);
        font-weight: bold;
        max-width: pxTorem(630);
        margin-bottom: pxTorem(20);
      }
      .spellLocationMap {
        overflow: hidden;
        max-width: pxTorem(550);
        i {
          display: inline-block;
          width: pxTorem(24);
          height: pxTorem(29);
          float: left;
          margin-top:pxTorem(3);
          background: url('../../../../assets/icon/my_Spell_address.png') no-repeat;
          background-size: pxTorem(24) pxTorem(29);
          margin-right: pxTorem(10);
        }
        span {
          float: left;
          max-width: pxTorem(500);
          @include font-dpr(24px);
          color: color($h5, c4);
        }
      }
    }
    .spellLocationNav {
      float: right;
      margin-top: pxTorem(30);
      margin-right: pxTorem(30);
      span {
        @include font-dpr(24px);
        color: color($h5, c4);
        float: left;
        margin-right: pxTorem(15);
      }
      i {
        float: left;
        display: inline-block;
        vertical-align: middle;
        width: pxTorem(30);
        height: pxTorem(30);
        background: url('../../../../assets/icon/arrow.png') no-repeat;
        background-size: pxTorem(24) pxTorem(11);
        -webkit-transform: rotate(-90deg);
      }
    }
  }

  .spellTeamPending {
    background: color($h5, c10);
    width: 100%;
    overflow: hidden;
    padding: pxTorem(30) 0;
    margin-bottom: pxTorem(20);
    > p {
      margin-left: pxTorem(30);
      @include font-dpr(24px);
      color: color($h5, c4);
      margin-bottom: pxTorem(20);
    }
    ul {
      border-bottom: 1px solid #ededed;
      padding-left: pxTorem(30);
    }
    ul li {
      border-bottom: 1px solid #ededed;
      padding-bottom: pxTorem(20);
      padding-top: pxTorem(20);
      height: pxTorem(60);
      box-sizing: content-box;
      overflow: hidden;
      > img {
        float: left;
        display: inline-block;
        margin-right: pxTorem(20);
        width: pxTorem(60);
        height: pxTorem(60);
        border-radius: 50%;
        margin-bottom: pxTorem(20);
      }
      p {
        float: left;
        height: pxTorem(60);
        line-height: pxTorem(60);
        @include font-dpr(26px);
        color: color($h5, c2);
        overflow: hidden;
        span {
          float: left;
          max-width: pxTorem(300);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        img {
          float: left;
          margin-left: pxTorem(5);
          margin-top: pxTorem(8);
        }
      }
    }
    ul li:last-child {
      border-bottom: 1px solid transparent;
    }
  }

  .spellTeamMember {
    background: color($h5, c10);
    width: 100%;
    overflow: hidden;
    padding: pxTorem(30) 0 0;
    > p {
      margin-left: pxTorem(30);
      @include font-dpr(24px);
      color: color($h5, c4);
      margin-bottom: pxTorem(20);
    }
    ul {
      width:100%;
      padding-left: pxTorem(30);
    }
    ul li {
      padding-top: pxTorem(20);
      width:100%;
      box-sizing: content-box;
      overflow: hidden;
      display: flex;
      align-items: center;
      > img {
        float: left;
        display: inline-block;
        margin-right: pxTorem(20);
        width: pxTorem(60);
        height: pxTorem(60);
        border-radius: 50%;
        margin-bottom: pxTorem(20);
      }
      p {
        width:100%;
        float: left;
        height: pxTorem(60);
        line-height: pxTorem(60);
        border-bottom: 1px solid #ededed;
        padding-bottom: pxTorem(20);
        box-sizing: content-box;
        @include font-dpr(26px);
        color: color($h5, c2);
        overflow: hidden;

        span {
          float: left;
          max-width: pxTorem(300);
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
        > img {
          float: left;
          height:pxTorem(30);
          max-width: pxTorem(125);
          margin-left: pxTorem(10);
          margin-top: pxTorem(15);
        }
      }
    }
    ul li:last-child {
      border-bottom: 1px solid transparent;
      p{
        border-bottom:1px solid transparent;
      }
    }
  }

  .hadJoinMissing {
    width: 100%;
    text-align: center;
    height: 100%;
    background: color($h5, c10);
    margin-bottom: pxTorem(30);
    .missingBg {
      width: 100%;
      text-align: center;
      p {
        display: inline-block;
        width: pxTorem(200);
        height: pxTorem(200);
        background: url('../../../../assets/icon/image_notheuser.png') center center no-repeat;
        background-size: pxTorem(160) pxTorem(160);
      }
    }
    > p {
      @include font-dpr(24px);
      color: color($h5, c4);
    }
  }

}
.joinFixed{
  width:100%;
  position: fixed;
  bottom:0;
  background:color($h5,c10);
  text-align: center;
  border-top:1px solid color($h5,c8);
  .applyJoin {
    border-radius: pxTorem(5);
    background: color($h5, c1);
    color: color($h5, c10);
    margin: pxTorem(20) pxTorem(30);
    text-align: center;
    height: pxTorem(90);
    line-height: pxTorem(90);
    @include font-dpr(30px);
  }
  .success{
    border:1px solid #99D156;
    background: color($h5, c1);
    color: color($h5, c10);
  }
  .failed{
    color:#F8744F;
    border:1px solid #F8744F;
    background:color($h5,c11);
    color: color($h5, c10);
  }
  .complete{
    color:color($h5,c8);
    border:1px solid #E5E5E5;
    background:color($h5,c10);
  }
  .end{
    color:color($h5,c6);
    background:color($h5,c8);
  }
}
