<seed-toolbar-header>
  <seed-toolbar-home></seed-toolbar-home>
  <seed-toolbar-title></seed-toolbar-title>
  <seed-toolbar-menu></seed-toolbar-menu>
</seed-toolbar-header>
<seed-content>
<div class="seed-info-cate" >
  
  <div class="search-results"
       infiniteScroll
       [infiniteScrollDistance]="2"
       [infiniteScrollThrottle]="300"
       [infiniteScrollContainer]="ele"
       (scrolled)="onScroll()">
  <!--<div class="search-results">-->
    <seed-badges  [articles]="tools.setArray(articles | async)" *ngIf="!noInfo"></seed-badges>
  </div>
  <missing-default-content
    *ngIf="noInfo && !loading"
  ></missing-default-content>
</div>
</seed-content>