@import '../shared/styles/theming.scss';
.divider{
  width: 100%;
  height:pxTorem(15px);
  background: color($h5,c9);
}
.login-header{
  position: relative;
  height: pxTorem(90px);
  color: color($h5,c2);
  text-align: center;
  @include font-dpr(34px);
  line-height: pxTorem(90px);
  padding: 0 pxTorem(47px);
  .login-cloesd{
    width: pxTorem(42px);
    height:pxTorem(42px);
    background: url('../../assets/icon/Add.png') no-repeat center/contain;
    transform: rotate(45deg);
    -webkit-transform:rotate(45deg);
    position: absolute;
    top: pxTorem(26px);
    left: pxTorem(45px);
  }
}
.page-login{
  &.ion-page{
    max-height: 100% !important;
  }
  #sportIp-header {
    &.sportIp-header-login {
      background: none;
      .toolbar-background {
        background: none;
        border:0px;
      }
      .ion-ios-arrow-back {
        font-size: 0.6rem;
        color: white;
        display: block;
      }
    }
  }
  .login-content {
    padding:0 pxTorem(45px) 0;
    /* background: transparent;*/
    .login-box {
    position: relative;
    width: 100%;
    display: flex;
    padding: 0 0 pxTorem(35px) 0;
    border-bottom: 1px solid color($h5, c8);
      background: url("../../assets/images/login_hr.png") bottom center/contain repeat-x;
      &.login-box-password {
        // padding-top:pxTorem(60px);
      }
      .login-box-icon {
        width: pxTorem(30px);
        height:pxTorem(40px);
        display: flex;
        align-items: center;
        // &.login-box-icon-account{
        //   background: url("../../assets/icon/login_phone.png") no-repeat left center/contain;
        // }
        // &.login-box-icon-password{
        //   background: url("../../assets/icon/login_lock.png") no-repeat left center/contain;
        // }
      }
        .login-box-input {
        flex-grow: 2;
        display: inline-flex;
            input{
                font-size: pxTorem(30px);
                width: 80%;
                background: transparent;
                // text-indent: pxTorem(30px);
            }
        }
      .login-box-input{
        color: color($h5,c10);
        @include font-dpr(30px);
        &::-webkit-input-placeholder {
          color: color($h5,c10) !important;
        }
      }
      .delet-account{
        position: absolute;
        right: pxTorem(25px);
        top: pxTorem(10px);
        width: pxTorem(28px);
        height: pxTorem(28px);
        background-image: url('../../assets/icon/delete-.png');
        background-repeat: no-repeat;
        background-size: contain;
      }
      .close-psw{
        position: absolute;
        right: pxTorem(20px);
        top: pxTorem(20px);
        width: pxTorem(40px);
        height: pxTorem(14px);
        background-image: url('../../assets/icon/according_close.png');
        background-repeat: no-repeat;
        background-size: contain;
      }
      .open-psw{
        position: absolute;
        right: pxTorem(20px);
        top: pxTorem(10px);
        width: pxTorem(40px);
        height: pxTorem(26px);
        background-image: url('../../assets/icon/according_open.png');
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
    .phone-msg{
      height: pxTorem(70px);
      margin-top: pxTorem(50px);
      width:  100%;
      div{
        p{
          line-height: pxTorem(70px);
        }
      }
    }
    .psw-msg{
      height: pxTorem(70px);
      p{
        line-height: pxTorem(70px);
      }
    }
  }
  .login-correlation-box {
    display: flex;
    @include font-dpr(28px);
    color: color($h5,c10);
    padding-top: pxTorem(30px);
    justify-content: space-between;
  }
  .third-party-login-box {
    display: flex;
    padding-top: pxTorem(145px);
    align-content: space-between;
    justify-content: space-around;
    div {
      width: pxTorem(114px);
      height:pxTorem(139px);
      &.for-wechat {
        background: url("../../assets/icon/login_wechat.png") no-repeat center center/contain;
      }
      &.for-weibo {
        background: url("../../assets/icon/login_weibo.png") no-repeat center center/contain;
      }
      &.for-qq {
        background: url("../../assets/icon/login_qq.png") no-repeat center center/contain;
      }
    }
  }
  // .logo{
  //   position: absolute;
  //   bottom:  pxTorem(80px);
  //   left: 0;
  //   width: 100%;
  //   text-align: center;
  //   img{
  //     width: pxTorem(188px);
  //     height:pxTorem(60px);
  //   }
  // }
}
.login-button {
  width: 100%;
  height: pxTorem(90px);
  margin-top: pxTorem(50px);
  border-radius: pxTorem(10px);
  // border: 1px solid color($h5,c10);
  // background: rgba(255,255,255,0.2);
  button {
    border:0 ;
    border-radius: pxTorem(8px);
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    background: color($h5,c1);
    @include font-dpr(30px);
    color:color($h5,c10);
    &[disabled]{
      background: rgba(color($h5,c1),0.6);
    }
  }
  &.register{
    margin-top: pxTorem(30px);
    button{
      border: 1px solid color($h5, c1);
      background: rgba(#fff,0.6);
      color:color($h5,c1);
    }
  }
}
.error-msg{
  color:color($h5,c11);
  @include font-dpr(30px);
}
