<div class="share-invitation">
  <div class="share-invitation-header">
    <div class="share-invitation-name">
      帖子
    </div>
    <div class="share-invitation-more"
      routerLink="/homepage/{{userId}}/my-feed"
    >
      <span>更多</span>
      <i></i>
    </div>
  </div>
  <seed-feed-profile [feeds]="feeds"></seed-feed-profile>
</div>

<div class="share-invitation">
  <div class="share-invitation-header">
    <div class="share-invitation-name">
      相册
    </div>
    <div
      class="share-invitation-more"
      routerLink="/homepage/{{userId}}/my-picture"
    >
      <span>更多</span>
      <i></i>
    </div>
  </div>
  <div class="share-picture" *ngIf="(gallery | async).length > 0">
    <div class="seed-grid">
      <div class="seed-grid-row">
        <div
          class="seed-grid-col" col-4
          *ngFor="let item of (gallery | async);let idx = index;"
        >
          <a
            routerLink="/homepage/{{userId}}/viewer/9/{{idx}}"
            [lazyLoad]="item.fileName"
            [defaultImage]="'/assets/images/user_default.png'"
            [errorImage]="'/assets/images/user_default.png'"
            [scrollTarget]="scrollContainer"
          >
           </a>
        </div>
      </div>
    </div>
  </div>
  <missing-default-content
    *ngIf="(gallery | async).length == 0"
  ></missing-default-content>
</div>
<div class="share-invitation">
  <div class="share-invitation-header">
    <div class="share-invitation-name">
      视频
    </div>

    <div
      *ngIf="(videoThumbnail | async)?.length > 9"
      class="share-invitation-more"
      routerLink="/homepage/{{userId}}/my-video"
    >
      <span>更多</span>
      <i></i>
    </div>
  </div>
  <div class="share-video share-picture" *ngIf="(videoThumbnail | async)?.length > 0">
    <div class="seed-grid">
      <div class="seed-grid-row">
        <div class="seed-grid-col icon-live" col-4
             *ngFor="let item of (videoThumbnail | async)"
             (click)="showVideoView(item.fileName)"
        >
          <a
            [lazyLoad]="item.fileName +'&width=100&second=1' "
            [defaultImage]="'/assets/images/user_default.png'"
            [errorImage]="'/assets/images/user_default.png'"
            [scrollTarget]="scrollContainer"
          >
          </a>
          </div>
        </div>
      </div>
  </div>

  <missing-default-content
    *ngIf="(videoThumbnail | async)?.length==0"
  ></missing-default-content>
</div>



<seed-modal #videoModal>
  <seed-view-video class="seed-modal-content"
                   [modal]="videoModal"
                   [link]="src"
                   [poster]="poster"
                   [content]="content"
  >
  </seed-view-video>
</seed-modal>
