<div class="share-invitation">
  <div class="share-invitation-header">
    <div class="share-invitation-name">
      帖子
    </div>
    <div class="share-invitation-more">
      <span>更多</span>
      <i></i>
    </div>
  </div>
  <seed-feed-profile [feeds]="feeds"></seed-feed-profile>
</div>

<div class="share-invitation">
  <div class="share-invitation-header">
    <div class="share-invitation-name">
      相册
    </div>
    <div
      *ngIf="pictureSingle?.length > 9"
      class="share-invitation-more"
      routerLink="/homepage/{{userid}}/my-picture"
    >
      <span>更多</span>
      <i></i>
    </div>
  </div>
  <div class="share-picture" *ngIf="pictureSingle">
    <div class="seed-grid">
      <div class="seed-grid-row">
        <div class="seed-grid-col" col-4 *ngFor="let item of (pictureSingle | slice:0:9)">
          <a
            [lazyLoad]="item.fileName"
            [defaultImage]="'/assets/images/user_default.png'"
            [errorImage]="'/assets/images/user_default.png'"
            [scrollTarget]="scrollContainer"
          >
           </a>
        </div>
      </div>
    </div>
  </div>
  <missing-default-content
    *ngIf="pictureSingle?.length==0"
  ></missing-default-content>
</div>
<div class="share-invitation">
  <div class="share-invitation-header">
    <div class="share-invitation-name">
      视频
    </div>
    <div
      *ngIf="videoSingle?.length > 9"
      class="share-invitation-more"
      routerLink="/homepage/{{userid}}/my-video"
    >
      <span>更多</span>
      <i></i>
    </div>
  </div>
  <div class="share-video share-picture" *ngIf="videoSingle?.length > 0">
    <div class="seed-grid">
      <div class="seed-grid-row">
        <div class="seed-grid-col icon-live" col-4 *ngFor="let item of videoSingle">
          <a
            [lazyLoad]="item.fileName +'&width=100&second=1' "
            [defaultImage]="'/assets/images/user_default.png'"
            [errorImage]="'/assets/images/user_default.png'"
            [scrollTarget]="scrollContainer"
          >
          </a>
          </div>
        </div>
      </div>
  </div>
  <missing-default-content
    *ngIf="videoSingle?.length==0"
  ></missing-default-content>
</div>
