@import '../../shared/styles/theming.scss';
.teamslist{

   background: #fff;
   //margin-bottom: pxTorem(130);

  .item{
    display: flex;
    align-items: center;
    padding:0 0 0 pxTorem(30);
    //justify-content:flex-start;
    .rightcontent{
      display: flex;
      align-items: center;
      justify-content:space-between;
      flex:1;

      border-bottom: 1px solid #f0f0f0;
      padding:pxTorem(40) pxTorem(20) pxTorem(40) 0;
      .right{
        display: flex;
        align-items: center;
      }
      .addr{
        @include font-dpr(24px);
        color: color($h5,c3);
      }
    }
    //@include remCalc(padding,pxTorem(30),0,0,pxTorem(30));
    //border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content:space-between;
    .imgavatar{
      width:pxTorem(80);
      height:pxTorem(80);
      margin-right:pxTorem(20);
      img{
        width:100%;
        height: 100%;
        vertical-align: text-top;
        border-radius: 50%;

      }
    }
    .teamname{
      display: flex;
      align-items: center;
      span{
        display: inline-block;
        @include font-dpr(30px);
        color: color($h5,c2);
        max-width:pxTorem(130);
        overflow: hidden;
        text-overflow:ellipsis;
        -o-text-overflow:ellipsis;
        -webkit-text-overflow:ellipsis;
        -moz-text-overflow:ellipsis;
        white-space:nowrap;
      }

      img{
        display: inline-block;
        height:pxTorem(33);
        margin-left:pxTorem(10);
      }
    }
    .long{font-size: pxTorem(24);}
  }
  .follow{
    @include font-dpr(24px);
    width:pxTorem(140);
    padding-left: pxTorem(10);
    text-align: right;
    img{
      height:pxTorem(52);
    }
  }
  .long{
    color: #999;
    @include font-dpr(24px);
  }
}
@media screen and (max-width: 320px) {
 .left .addr .cityname{
   display: none;
 }
  .teamslist .item .teamname span {
    max-width: 5rem;
  }
}
