<div class="wrapper">
  <div *ngFor="let obj of listObj" (click)="toggleDetail($event,obj.videoId,obj.videoCover)" class="col-50 col-list">
    <div class="imgBox">
      <img [src]="obj.videoCover" alt="">
      <span class="videoTime">{{obj.videoTime}}</span>
    </div>
    <div class="info">
      <div class="title">
        <span class="name">{{obj.videoName | slice: 0:23}}</span>
      </div>
      <!--<div class="detail">-->
        <!--<div class="person">-->
          <!--<i class="icon1"></i>-->
          <!--<span>盘巴斯雄鹰</span>-->
        <!--</div>-->
        <!--<div class="cout">-->
          <!--<i class="icon2"></i>-->
          <!--<span>32</span>-->
        <!--</div>-->
      <!--</div>-->
      <!--<ng-content></ng-content>-->

    </div>
  </div>

</div>
