@import "../../../shared/styles/theming";
.wrapper{
  width: 100%;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 pxTorem(15);
  .col-50{
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -moz-box-flex: 0;
    -moz-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    min-width: 50%;
    text-align: center;
  }
  .col-list{
    float: left;
    //height: pxTorem(310);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    &:nth-child(even){
      border-left: 5px solid #fff;
    }
    img {
      //width: pxTorem(347px);
      width: 100%;
      height: pxTorem(196px);
    }
    .info{
      //text-align: left;
      //@include remCalc(width, pxTorem(347px));
      //@include remCalc(padding,pxTorem(18px),0px,pxTorem(20px),0px);
      padding: pxTorem(18px) 0 pxTorem(20px) 0px;
      .title{
        display: flex;
        flex-direction: row;
        //@include remCalc(height,pxTorem(74));
        span.name{
          @include font-dpr(28px);
          color: color($h5, c2);
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      .detail{
        display: flex;
        justify-content: space-between;
        @include font-dpr(22px);
        color: color($h5, c5);
        //@include remCalc(padding-top,pxTorem(20px));
        padding-top: pxTorem(20px);
        i{
          display: inline-block;
        }
        .person{
          //float: left;
          i.icon1{
            //@include remCalc(width, pxTorem(18px));
            //@include remCalc(height, pxTorem(20px));
            @include icon(18,20,'../../../../assets/icon/icon_personal_02.png');
          }
          span{
            //@include remCalc(padding-left,pxTorem(7px));
            padding-left: pxTorem(7px);
          }
        }
        .cout{
          display: flex;
          align-items:center;
          i.icon2{
            //@include remCalc(margin-right,pxTorem(7));
            margin-right: pxTorem(7);
            //@include remCalc(width, pxTorem(20px));
            //@include remCalc(height, pxTorem(20px));
            @include icon(20,20,'../../../../assets/icon/icon_play_02.png');
          }
        }
      }
    }
  }
}
