<div class="team-component">
  <div class="module">
    <h3 class="module-title reset-margin">基本信息</h3>
    <ul class="team-grid-list" *ngIf="basicInfo">
      <li>
        <span>{{basicInfo.avgAge}}</span>
        <em> 平均年龄(岁)</em>
      </li>
      <li>
        <span>{{basicInfo.avgHeight}}</span>
        <em>平均身高(cm)</em>
      </li>
      <li>
        <span>{{basicInfo.avgWeight}}</span>
        <em>平均体重(kg)</em>
      </li>
      <li>
        <span class="chinese-text">{{basicInfo.formatName?basicInfo.formatName:'无'}}</span>
        <em>人制(人数)</em>
      </li>
      <li>
        <span class="chinese-text">{{basicInfo.gradeName?basicInfo.gradeName:'无'}}</span>
        <em>水平</em>
      </li>
      <li>
        <span class="chinese-text">{{basicInfo.sportAttrName?basicInfo.sportAttrName:'无'}}</span>
        <em>单位</em>
      </li>
    </ul>
  </div>
  <div class="module">
    <h3 class="module-title reset-margin">近10场战绩</h3>
    <season-results></season-results>
  </div>
  <div class="module players-module bottom-gap">
    <h3 class="module-title" routerLink="/team/{{teamId}}/players" *ngIf="players.length===0"><em>阵容</em></h3>
    <h3 class="module-title right-arrow-icon" routerLink="/team/{{teamId}}/players" *ngIf="players.length>0"><em>阵容</em><span>更多</span></h3>
    <ul class="list team-grid-list" *ngIf="players.length>0">
      <li *ngFor="let player of players" routerLink="/team/{{player.teamId}}/player/{{player.userId}}">
        <img class="avatar" 
              [lazyLoad]="player.userIconUrl" 
              [defaultImage]="'/assets/icon/concern_default_head.png'"
              [errorImage]="'/assets/icon/concern_default_head.png'" 
              [scrollTarget]="scrollContainer"/>
        <span>{{player.userName}}</span>
      </li>
    </ul>
    <missing-default-content *ngIf="players.length===0"></missing-default-content>
  </div>
</div>
