@import "../../shared/styles/theming.scss";
//球队栏目
team-channel {
  .players-module {
    .list {
      display: flex;
      padding-bottom: pxTorem(10);
    }
    li {
      width: 20%;
      // padding: 0 pxTorem(30);
      margin-bottom: 0;
      text-align: center;
    }
    .avatar {
      display: inline-block;
      width: pxTorem(90);
      height: pxTorem(90);
      border-radius: 50%;
      background-color: #ccc;
    }
    span {
      margin-top: pxTorem(10);
      @include font-dpr(24px);
      @include text-overflow-ellipsis(90);
      color: color($h5, c4);
    }
  }
}
