@import '../app/shared/styles/theming.scss';
.myLoaing{
  position:absolute;
  left:40%;
  top:40%;
  width:20%;
  height:20%;
  display:flex;
  alignItems:center;
  text-align: center;
  z-index: 100;
}

@media screen and (max-width: 375px) {
  .myLoaing img {
    width: 40px !important;
  }
}
@media screen and (max-width: 325px) {
  .myLoaing img {
    width: 35px !important;
  }
}
