@import '../../../shared/styles/theming.scss';
match-detail {
  .match-card {
    padding-top: pxTorem(148);
    color: #fff;
    background: url(#{$images-path}/war_background.jpg) no-repeat center center/cover;
  }
  .match-info {
    padding-left: pxTorem(20);
    @include font-dpr(28px);
    color: color($h5, c3);
    background-color: #fff;
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: pxTorem(88);
      padding-right: pxTorem(20);
      border-bottom: 1px solid color($h5, c9);
      &:last-of-type {
        border-bottom: none;
      }
      span {
        margin-left: pxTorem(20);
        color: color($h5, c2);
      }
    }
    .clother {
      .icon {
        display: inline-block;
        width: pxTorem(40);
        height: pxTorem(43);
      }
      div,
      p {
        display: flex;
        align-items: center;
        margin-left: pxTorem(10);
      }
      span {
        display: inline-block;
        margin-left: pxTorem(10);
      }
    }
  }
}
