<seed-toolbar-header>
  <seed-toolbar-home></seed-toolbar-home>
  <seed-toolbar-title></seed-toolbar-title>
  <seed-toolbar-menu></seed-toolbar-menu>
</seed-toolbar-header>
<seed-content class="gray-background" *ngIf="match">
  <div class="detail-content bottom-gap">
    <div class="match-card">
      <div class="team-logo">
        <div class="logo-box">
          <img [src]="match.homeTeamIconUrl||defaultTeamIcon" alt="" class="logo">
        </div>
        <p class="center" *ngIf="match.status===0||match.status===3">
          VS
        </p>
        <div class="center" *ngIf="match.status===1||match.status===2">
          <div class="end-time">
            <p>截止时间</p>
            <p><span>{{match.endDate|amDateFormat:'MM/DD'}}</span>{{match.endTime}}</p>
          </div>
        </div>
        <div class="logo-box">
          <img [src]="match.guestTeamIconUrl||defaultTeamIcon" alt="" class="logo">
        </div>
      </div>
      <div class="team-name">
        <p class="name"><span>{{match.homeTeamName}}</span></p>
        <p>
          <!-- 约战状态 start-->
          <b *ngIf="match.status===0" class="match-state end">已取消</b>
          <b *ngIf="match.status===1" class="match-state ing">约战中</b>
          <b *ngIf="match.status===2" class="match-state success">约战成功</b>
          <b *ngIf="match.status===3" class="match-state fail">约战失败</b>
          <!-- 约战状态 end-->
        </p>
        <p class="name"> <span *ngIf="match.status===2">{{match.guestTeamName}}</span><span *ngIf="match.status===1||match.status===3">等待对手出现</span></p>
      </div>
    </div>
    <ul class="match-info top-gap">
      <li><em>时间</em>
        <p><span>{{match.matchDate|amDateFormat:'YYYY-MM-DD'}}</span><span>周{{match.matchDate|ChineseWeek}}{{match.beginTime}}-{{match.endTime}}</span></p>
      </li>
      <li><em>场地</em><span>{{match.fieldName?match.fieldName:'待定'}}</span></li>
      <li><em>赛制</em><span>{{match.formatName}}</span></li>
      <li><em>费用</em><span>{{match.costTypeName}}</span></li>
    </ul>
    <ul class="match-info top-gap">
      <li class="clother">
        <em>主队队服</em>
        <div *ngIf="!match.clothers">
          <i class="icon" [style.background]="'url('+ match.homeTeamColorUrl +')  no-repeat center center/cover '| safeStyle "></i>
          <span> {{match.homeTeamColorName?match.homeTeamColorName:'待定'}}</span>
        </div>
        <div *ngIf="match.clothers">
          <p *ngFor="let icon of match.clothers">
            <i class="icon" [style.background]="'url('+ icon.url +')  no-repeat center center/cover '| safeStyle "></i>
            <span> {{icon.text}}</span>
          </p>
        </div>
      </li>
    </ul>
  </div>
</seed-content>
