@import '../../../../app/shared/styles/theming.scss';

.schedulelist {
  background: #fff;
  padding-top: pxTorem(30);
  .module-title{
    border-left: pxTorem(6) solid color($h5,c1);
    padding-left: pxTorem(20);
  }
  li {
    display: flex;
    border-bottom: 1px solid #f0f0f0;
    padding: pxTorem(30) pxTorem(60) pxTorem(30) 0;
    &::after {
      border-bottom: none;
    }
  }
  .time {
    margin-right: pxTorem(60);
    font-size: 0;
  }
  .time div {
    width: 4rem;
  }
  .other {
    width: 100%;
  }
  .title {
    overflow: hidden;
    width: 80%;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .start-time,
  .title {
    @include font-dpr(30px);
    color: color($h5, c2);
  }
  .end-time,
  .date {
    @include font-dpr(24px);
    color: color($h5, c4);
  }
  .start-time {
    font-weight: bold;
  }

}
