<seed-toolbar-header>
  <seed-toolbar-home></seed-toolbar-home>
  <seed-toolbar-title>视频</seed-toolbar-title>
  <seed-toolbar-menu></seed-toolbar-menu>
</seed-toolbar-header>
<seed-content>
  <!--<seed-slider [gallery]="bannerObj | async"></seed-slider>-->
  <div class="seed-sliders-warp">
    <ks-swiper-container
      [options]="example1SwipeOptions"
    >
      <ks-swiper-slide *ngFor="let item of bannerObj">
        <div (click)="goVdetail(item.resId)"
          class="seed-slider"
          [style.background]=" 'url('+ item.resUrl +') no-repeat center center/cover ' | safeStyle " >
        </div>
        <div class="seed-slides-title" >
          <div >{{item.title }}</div>
        </div>
      </ks-swiper-slide>

    </ks-swiper-container>

    <div class="seed-sliders-pagination">
      <button
        *ngFor="let item of bannerObj;let i = index"
        class="seed-sliders-pagination-bullet"
        [ngClass]="{active:isSlidersActive == i}"
      >
      </button>
    </div>
  </div>

  <gap-bg></gap-bg>
  <seed-toolbar-roller class="scroll-x video-category">
    <ul class="category-ul" id="category-ul">
      <li class="itemLi" *ngFor="let item of cateObj; let i = indexs">
        <div class="select-item" (click)="topCateMore($event,item.cateId)">
          <!--<i class="icon video_hot"></i>-->
          <img class="icon" [src]="item.cateIcon" alt="">
          <span>{{item.cateName | slice: 0:5}}</span>
        </div>
      </li>
      <!--<li>-->
      <!--<div class="select-item" (click)="goVideoStorage()">-->
      <!--<i class="icon video_video"></i>-->
      <!--<span>视频库</span>-->
      <!--</div>-->
      <!--</li>-->
    </ul>
  </seed-toolbar-roller>
  <gap-bg></gap-bg>

  <video-card-category [tvCateObj]="cateObj" (cate)="cateIdChange($event)"></video-card-category>
</seed-content>
