@import "../../shared/styles/theming";
//.bg-content{
//  background: color($h5,c9);
//  height: 100%;
.seed-sliders-warp{
  position: relative;
}
.seed-slider {
  width: 100%;
  height: 100%;
}
.swiper-container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.swiper-wrapper{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

ks-swiper-slide {
  position: relative;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  &>div {
    width: 100%;
    position: relative;
  }
  div.seed-slider{
    overflow: hidden;
    height: pxTorem(420px);
  }
  .seed-slides-title{
    left: 0px;
    bottom: 0px;
    width: 100%;
    z-index: 999;
    position: absolute;
    font-size: pxTorem(28px);
    color: #ffffff;
    background: rgba(0, 0, 0, 0.5);
    padding: 0px pxTorem(20px);
    height: pxTorem(70px);
    line-height: pxTorem(70px);
  }
  .seed-slides-title div {
    /* display: none;*/
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 80%;
  }
}
.seed-sliders-pagination {
  right: pxTorem(20px);
  bottom: 0px;
  position: absolute;
  text-align: center;
  transition: .3s;
  transform: translate3d(0,0,0);
  z-index: 10;
  pointer-events: none;
  height: pxTorem(70px);
  line-height: pxTorem(70px);
  .swiper-pagination-bullet {
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    box-shadow: none;
    appearance: none;
    margin: 0 pxTorem(5px);
    display: inline-block;
    border-radius: 100%;
    opacity: .4;
    pointer-events: auto;
    background: #f0f0f0;
    width: pxTorem(13px);
    height: pxTorem(13px);
    &.swiper-pagination-bullet-active {
      opacity: 1;
    }  }
}

  .video-category{
    background: color($h5,c10);
    .scroll-content::-webkit-scrollbar{
      display: none;
    }
    min-height: pxTorem(174px);
    ul.category-ul{
      display: inline-block;
      width: 1000px;
      padding: pxTorem(20) 0  0 pxTorem(30);
      background: color($h5,c10);
      li{
        float: left;
        text-align: center;
        .select-item{
          padding-right: pxTorem(70);
          .icon{
            -webkit-border-radius: 50%;
            -moz-border-radius: 50%;
            border-radius: 50%;
            width: pxTorem(90);
            height: pxTorem(90);
          }
          //i.video_video{
          //  background: url("../../assets/icon/video_video.png") no-repeat center center/cover;
          //}
          .icon{
            display: block;
          }
          span{
            display: block;
            color: color($h5,c3);
            @include font-dpr(24px);
            padding: pxTorem(17px) 0px pxTorem(20px) 0px;
          }
        }
      }
    }
  }
//}

