<div class="wrapper">
  <div *ngFor="let obj of moreObj" (click)="goMoreDetail($event,obj.videoId,obj.cateId,obj.videoCover)" class="col-50 col-list">
    <div class="imgBox">
      <img [src]="obj.videoCover" alt="">
      <span class="videoTime">{{obj.videoTime}}</span>
    </div>
    <div class="info">
      <div class="title">
        <span>{{obj.videoName | slice: 0:23}}</span>
      </div>
      <div class="detail">
        <div class="person">
          <i class="icon1"></i>
          <span>{{obj.nickName | slice: 0:7}}</span>
        </div>
        <div class="cout">
          <i class="icon2"></i>
          <span>{{obj.playCount}}</span>
        </div>
      </div>
    </div>
  </div>

</div>
