@import '../../../shared/styles/theming.scss';
team-nav {
  nav {
    position: relative;
    display: flex;
    margin-top: -20px;
    border-top-left-radius: pxTorem(30);
    border-top-right-radius: pxTorem(30);
    background-color: #fff;
    a {
      flex: 1;
      text-align: center;
      span {
        display: inline-block;
        height: 100%;
        // height: pxTorem(100);
        line-height: pxTorem(100);
        border: none;
        @include font-dpr(28px);
        color: color($h5, c3);
        background-color: #fff;
        &:first-of-type {
          border-radius: 0;
          border-top-left-radius: pxTorem(30);
        }
        &:last-of-type {
          border-radius: 0;
          border-top-right-radius: pxTorem(30);
        }
        &.active {
          border-bottom: 2px solid color($h5, c1);
          color: color($h5, c1);
        }
      }
    }
  }
}
