@import "../../../shared/styles/theming.scss";
match-detail {
  .item {
    padding-top: pxTorem(20);
    background-color: #fff;
    border-bottom: 1px solid color($h5, c8);
    &:last-of-type {
      border-bottom: none;
    }
  }
  .basic-info {
    padding-left: pxTorem(30);
    margin-bottom: pxTorem(50);
    @include font-dpr(24px);
    color: color($h5, c3);
  }
  em {
    padding-left: pxTorem(30);
    @include font-dpr(24px);
    color: color($h5, c3);
  }
  .logo {
    flex: initial!important;
    width: pxTorem(85);
    height: pxTorem(85);
    border-radius: 50%;
    margin: 0 pxTorem(85);
  }
  .team-logo,
  .team-name {
    .logo,
    .center,
    .score,
    p {
      flex: 1;
      text-align: center;
    }
  }
  .team-logo,
  .team-name {
    display: flex; // align-content: center;
    justify-content: space-between; // padding: 0 pxTorem(85);
    .name {
      span {
        overflow: hidden;
        display: inline-block;
        max-width: pxTorem(150);
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: center;
      }
    }
  }
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: normal;
    text-align: center;
    @include font-dpr(26px);
    color: color($h5, c6);
  }
  .score {
    text-align: center;
    @include font-dpr(60px);
    i {
      padding: 0 pxTorem(20);
      font-style: normal;
    }
  }
  .team-name {
    align-items: center;
    margin-top: pxTorem(20);
    padding-bottom: pxTorem(30);
    @include font-dpr(28px);
    color: color($h5, c2);
  }
  .match-state {
    display: inline-block;
    width: pxTorem(180);
    height: pxTorem(54);
    line-height: pxTorem(54);
    text-align: center;
    border-radius: pxTorem(54);
    font-weight: normal;
    @include font-dpr(26px);
  }
  .end {
    // border: 1px solid color($h5, c8);
    color: color($h5, c6);
    background-color: color($h5, c8);
  }
  .ing,
  .success {
    color: #fff;
  }
  .ing {
    // background-color: #01a87c;
    background-color: color($h5, c1);
  }
  .success {
    background-color: color($h5, c16);
  } //没有赛程记录
  .no-record-wrap {
    .no-record-icon {
      margin: pxTorem(70) auto 0 auto; //   @include icon(150, 150, '../../../assets/icon/image_event.png');
    }
  }
  .match-card {
    padding-top: pxTorem(148);
    background: url('#{$images-path}/war_background.jpg') no-repeat center center/cover;
    .end-time {
      color: #fff;
      p {
        &:last-of-type {
          margin-top: pxTorem(5);
        }
        span {
          margin-right: pxTorem(17);
          margin-right: pxTorem(17);
        }
      }
    }
    .score {
      color: #fff;
    }
    .team-name {
      // margin-top: pxTorem(36);
      padding-bottom: pxTorem(102);
      color: #fff;
    }
    .end {
      background: rgba(193, 193, 193, .7);
    }
    .ing {
      background: rgba(1, 168, 124, .7);
    }
    .success {
      background: rgba(137, 208, 53, .7);
    }
    .fail {
      background: rgba(255, 16, 82, .7);
    }
  }
  .match-info {
    padding-left: pxTorem(20);
    @include font-dpr(28px);
    color: color($h5, c3);
    background-color: #fff;
    li {
      display: flex;
      align-items: center;
      justify-content: space-between;
      height: pxTorem(88); // padding-right: pxTorem(20);
      border-bottom: 1px solid #e5e5e5;
      &:last-of-type {
        border-bottom: none;
      }
      span {
        margin-left: pxTorem(20);
        color: color($h5, c2);
      }
    }
    .clother {
      .icon {
        display: inline-block;
        width: pxTorem(40);
        height: pxTorem(43);
      }
      div,
      p {
        display: flex;
        align-items: center;
        margin-left: pxTorem(10);
      }
      span {
        display: inline-block;
        margin-left: pxTorem(10);
      } // margin-right: pxTorem(10);
    }
  }
}
