@import "../../../styles/theming";



.ctn {
  max-width: 400px;
  margin: 0 auto;
}

.inner-ctn {
  margin: 20px;
}
seed-viewer {
  width: 100%;
  height: 100%;
  display: block;
  height: 21rem;
}
.seed-sliders-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.seed-sliders-warp {
  position: relative;
  z-index: 1;
  display: flex;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform,-webkit-transform;
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  box-sizing: content-box;
  padding: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  width: 100%;
  height: 21rem;
  transition:.3s all ease;
}
.seed-sliders-slide {
  width: 100%;
  height: 100%;
  display: -webkit-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
}

.seed-slides-title{
  left: 0px;
  bottom: 0px;
  width: 100%;
  z-index: 999;
  position: absolute;
  font-size: pxTorem(28px);
  color: #ffffff;
  background: rgba(0, 0, 0, 0.5);
  padding: 0px pxTorem(20px);
  height: pxTorem(70px);
  line-height: pxTorem(70px);
}
.seed-slides-title div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 70%;
}

.seed-sliders-pagination {
  right: pxTorem(20px);
  bottom: 0px;
  position: absolute;
  text-align: center;
  transition: .3s;
  transform: translate3d(0,0,0);
  z-index: 10;
  pointer-events: none;
  height: pxTorem(70px);
  line-height: pxTorem(70px);
  .seed-sliders-pagination-bullet {
    border: none;
    cursor: pointer;
    margin: 0;
    padding: 0;
    box-shadow: none;
    appearance: none;
    margin: 0 pxTorem(5px);
    display: inline-block;
    border-radius: 100%;
    opacity: .4;
    pointer-events: auto;
    background: #f0f0f0;
    width: pxTorem(13px);
    height: pxTorem(13px);
    &.active {
      opacity: 1;
    }
  }
}
.shake{
  -webkit-animation-name:shake;
  -webkit-animation-duration:1s;
  -moz--name:shake;
  -moz-animation-duration:1s;
}
@-webkit-keyframes shake {

  0%, 100% {-webkit-transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {-webkit-transform: translateX(-10px);}
  20%, 40%, 60%, 80% {-webkit-transform: translateX(10px);}
}
@-moz-keyframes shake {
  0%, 100% {-moz-transform: translateX(0);}
  10%, 30%, 50%, 70%, 90% {-moz-transform: translateX(-10px);}
  20%, 40%, 60%, 80% {-moz-transform: translateX(10px);}
}
