<div class="avatar-wrap">
  <!--<div class="avatar-background" [class.team-logo-default]="!basicInfo.iconFileUrl" [style.background]=" 'url('+ basicInfo.iconFileUrl+') no-repeat center center/cover ' | safeStyle "></div>-->
  <div class="filter"></div>
  <div class="avatar-content">
    <!--<div class="avatar" [class.team-logo-default]="!basicInfo.iconFileUrl" [style.background]="'url('+ basicInfo.iconFileUrl+') no-repeat center center/cover'| safeStyle "></div>-->
    <!--<h1>{{basicInfo.name}}</h1>-->
    <p>
      <!--<span>{{basicInfo.areaCityName}}</span>-->
      <!--<span>{{basicInfo.areaDistName}}</span>-->
    </p>
  </div>
</div>
