@import "../../../shared/styles/theming.scss";
.seed-person-video{

  .picture-body{
    width:100%;
    overflow: hidden;
    .video-out{
      position: relative;
      float: left;
      margin-right: pxTorem(15);
      margin-bottom:pxTorem(15);
      width:pxTorem(240);
      height:pxTorem(240);
      img{
        width:100%;
        height:100%;
      }
    }
    .video-out::after{
      display: block;
      position: absolute;
      width: pxTorem(240);
      height:pxTorem(240);
      top:0;
      left:0;
      content: '';
      background:url(#{$images-path}/icon_play.png) center no-repeat;
    }
    .video-out:nth-child(3n){
      img{
        margin-right:0;
      }
    }
  }
  .picture-body:before{
    content: ' ';
    display: block;
    width:100%;
    height:pxTorem(15);
    background: color($h5,c9);
  }
}
