<seed-toolbar-header>
  <seed-toolbar-home></seed-toolbar-home>
  <seed-toolbar-title></seed-toolbar-title>
  <seed-toolbar-menu></seed-toolbar-menu>
</seed-toolbar-header>
<seed-content class="local-seed">
<div class="normal-list gray-background">
  <div class="list  top-gap">
    <div class="item avatar">
      <input  type="file" (change)="selectFileOnchanged($event)" />
      <p class="icon">
        <em class="name">头像</em>
           <img class="avatarImg" [src]="userObj.iconUrl||defaulticon" alt="">
      </p>
    </div>
    <div class="item" (click)="editinfo('nickName')">
      <em>昵称</em>
      <span class="info">{{userObj.nickName}}</span>
    </div>
    <div class="item" (click)="setGender()">
      <em>性别</em>
      <span class="info">{{userObj.sex==''?'':userObj.sex==1?'男':'女'}}</span>
    </div>
    <div class="item" (click)="editinfo('sign')">
      <em>签名</em>
      <span class="info">{{userObj.sign}}</span>
    </div>
    <div class="item" (click)="chooseCity()">
      <em>所在地</em>
      <span class="info">{{userObj.areaProvName}}{{userObj.areaCityName == userObj.areaProvName? '': userObj.areaCityName}}</span>
    </div>

  </div>
  <div class="gap"></div>

  <div class="list ionicDateItem ageSelectWarp">
    <div class="item">
      <em>年龄(岁)</em>
      <span class="info">{{userObj.userAge}}</span>
      <select-list [options]="agearr"(change)="age($event)"[selected]="userObj.userAge"></select-list>
    </div>
    <div class="item" >
      <em>身高(cm)</em>
      <span class="info">{{userObj.height}}</span>
      <select-list [options]="heightarr"(change)="height($event)"[selected]="userObj.height"></select-list>
    </div>
    <div class="item">
      <em>体重(kg)</em>
      <span class="info">{{userObj.weight}}</span>
      <select-list [options]="weightarr"(change)="weight($event)"[selected]="userObj.weight"></select-list>
    </div>

  </div>
  <div class="gap"></div>
  <div class="list">
    <div class="item" (click)="setBallInfo()">
      <em>足球个人信息</em>
      <span class="info"></span>
    </div>
  </div>
</div>

<!--选择男女-->
<div class="changesex"*ngIf="sexseed">
   <div class="sexbox">
     <p class="title">选择性别</p>
     <p class="sex" id="1"(click)="changsexnum($event)">男</p>
     <p class="sex"id="2"(click)="changsexnum($event)">女</p>
     <p class="cancel"id="0"(click)="changsexnum($event)">取消</p>
   </div>
</div>
  <!--select选择-->
  <!--<div class="changesex">-->
    <!--<select name="" id=""class="sexbox"style="text-align: center">-->
        <!--<option *ngFor=" let option of options">{{option}}</option>-->
    <!--</select>-->
  <!--</div>-->
</seed-content>
