<seed-toolbar-header>
  <seed-toolbar-home></seed-toolbar-home>
  <seed-toolbar-title></seed-toolbar-title>
  <seed-toolbar-menu></seed-toolbar-menu>
</seed-toolbar-header>
<seed-content >
  <div
    class=" article-template article-template-summary padding-left-right-30 "
    *ngFor="let item of (feedsArticle|async)"
  >
    <header class="header">
      <div
        class="subscriptions-posters-icon article-template-icon"
      >
        <img
          [lazyLoad]="item?.userIcon"
          [defaultImage]="'/assets/images/placeholder_head_pic.png'"
          [errorImage]="'/assets/images/placeholder_head_pic.png'"
          [scrollTarget]="scrollContainer"
        >
      </div>
      <div class=" article-template-content">
        <div class="poster-name">
          <span>{{item?.nickName}}</span>
          <span
            class="icon-type"
            *ngIf="item?.appImgtxtUrl"
            [style.background-image]="'url('+ item?.appImgtxtUrl +' )' | safeStyle"
          ></span>
        </div>
        <div class="source" >
          <time class="date">{{item?.createTm | amDateFormat:'MM-DD HH:mm':'MM-dd HH:mm'}}</time>
          <span class="separator" *ngIf="item != '' "></span>
          <span  *ngFor="let item of item?.labels" class="tags">{{item.labelName}}</span>
        </div>
      </div>
      <div
        *ngIf="item?.userId"
        (click)="follow(item?.userId,$event)"
        [ngClass]="{isFollow: item.isFollow == 1}"
        class="button-subscription "
      >
      </div>
    </header>
    <article class="article">
      <h3>{{item?.title}}</h3>
      <div class="section" *ngFor="let item of item?.feedContents">
        <p *ngIf="item.contentType == 1">{{item.content}}</p>
        <img
          class=""
          *ngIf="item.contentType == 2"
          [lazyLoad]="item.content"
          [defaultImage]="'/assets/images/placeholder_article_pic.png'"
          [errorImage]="'/assets/images/placeholder_article_pic.png'"
          [scrollTarget]="scrollContainer"
        >
        <video *ngIf="item.contentType == 3" src="{{item.content}}" poster="{{item.thumbnail}}" controls="controls"></video>
      </div>
    </article>
    <div class="article-support " text-center>
      <div  class="cont" text-center>
        <div
          (click)=" digg(item.feedId,$event)"
          [class.isDigg]="item?.isDigg == true"
          class="icon-box"
        ></div>
      </div>
      <div #diggNumber class="quantity-number">{{item?.diggCount}}</div>
    </div>
  </div>

  <div class="background-gray" *ngIf="(comments | async).length > 0"></div>
  <div class="article-comments " *ngIf="(comments | async).length > 0">
    <div class="article-template-title border-bottom">评论 </div>
    <seed-comments  [comments]="(comments | async)"></seed-comments>
  </div>

</seed-content>

