<div class="seed-badges-content"   *ngIf="articles">
  <dl
      [class.single]="item.coverUrl?.length ==1"
      [class.more]="item.coverUrl?.length >1"
      [class.nope]="item.coverUrl?.length == 0"
      class="summary border-bottom"
      *ngFor="let item of articles; let i = index"
      routerLink="/home/news/{{item.articleId}}"
      [hidden]="item.infoType == 2"
  >
    <dt class="picture " *ngIf="item.coverUrl?.length == 1">
      <img  [src]="item.coverUrl" >
<!--      <img
        [lazyLoad]="item.coverUrl"
        [defaultImage]="'/assets/images/placeholder_card_pic.png'"
        [errorImage]="'/assets/images/placeholder_card_pic.png'"
        [scrollObservable]="content.ionScroll"
      >-->
    </dt>
    <dd class="content ">
      <div class="title">
        {{item.title}}
      </div>
      <div class="gallery" *ngIf="item.coverUrl?.length == 3">
        <img *ngFor="let cover of item.coverUrl" src="{{cover}}" >
       <!-- <img
          *ngFor="let cover of item.coverUrl"
          [lazyLoad]="cover"
          [defaultImage]="'/assets/images/placeholder_card_pic.png'"
          [errorImage]="'/assets/images/placeholder_card_pic.png'"
          [scrollObservable]="content.ionScroll"
        >-->
      </div>
      <div class="source">
        <span class="poster">{{item.authorName | truncate:2}}</span>
        <span class="verify-icon"></span>
        <span class="create-time">{{item.createTime | date: 'YY-MM-DD' }}</span>
        <span class="interface">
               <span class="comment"><label class="icon_new_message"></label>{{item.commentCount}}</span>
             </span>
      </div>
    </dd>
  </dl>
</div>
