<seed-toolbar-header>
  <seed-toolbar-home></seed-toolbar-home>
  <seed-toolbar-title></seed-toolbar-title>
  <seed-toolbar-menu></seed-toolbar-menu>
</seed-toolbar-header>
<seed-content class="gray-background">
  <div class="player-card">
    <img [src]="player.userIconUrl||defaultUserIcon" alt="" class="avatar">
    <strong>{{player.userName}}</strong>
    <span>惯用{{player?.leftOrRightName}}</span>
    <!--<i *ngIf="user.authStatus===1">已实名认证</i>-->
    <i *ngIf="user.authStatus===0">未实名认证</i>
  </div>
  <ul class="team-grid-list list">
    <li>
      <span>{{user.weight?user.weight:'0'}}</span>
      <em>体重(kg)</em>
    </li>
    <li>
      <span >{{user.height?user.height:'0'}}</span>
      <em>身高(cm)</em>
    </li>
    <li>
      <span>{{user.userAge?user.userAge:'0'}}</span>
      <em>年龄</em>
    </li>
    <li>
      <span class="chinese-text">{{player.firstPositionName?player.firstPositionName:'无'}}</span>
      <em>位置</em>
    </li>
    <li>
      <span [class.number-text]="player.playerNumberName">{{player.playerNumberName?player.playerNumberName:'无'}}</span>
      <em>号码</em>
    </li>
  </ul>
</seed-content>
