@import "../../../shared/styles/theming.scss";
//球队主页公用样式
.team-grid-list {
  display: flex;
  flex-wrap: wrap;
  li {
    width: 33.33%;
    margin-bottom: pxTorem(40);
    align-items: center;
    text-align: center;
    @include font-dpr(24px);
    color: color($h5, c4);
    background-color: #fff;
  }
  canvas {
    display: block;
    margin: 0 auto pxTorem(10) auto;
  }
  span {
    display: block;
    margin-bottom: pxTorem(5);
    @include font-dpr(38px);
    color: color($h5, c2);
  }
  .chinese-text {
    @include font-dpr(32px);
  }
}

player-detail {
  .player-card {
    padding-top: pxTorem(110);
    padding-bottom: pxTorem(30);
    text-align: center;
    @include font-dpr(34px);
    color: #fff;
    background-color: color($h5, c1);
    .avatar {
      display: block;
      width: pxTorem(146);
      height: pxTorem(146);
      margin: 0 auto pxTorem(20) auto;
      border-radius: 50%;
    }
    strong {
      display: block;
    }
    span {
      display: block;
      margin-top: pxTorem(20);
      @include font-dpr(24px);
    }
    i {
      padding: 0 pxTorem(15);
      border-radius: 4px;
      border: 2px solid #fff;
      @include font-dpr(20px);
      font-style: normal;
    }
  }
  .list {
    padding: pxTorem(80) pxTorem(20) 0 pxTorem(20);
    background-color: #fff;
    li {
      margin-bottom: pxTorem(80);
    }
    .chinese-text {
      @include font-dpr(32px);
    }
  }
  .number-text {
    margin-bottom: 0;
  }
}
