/* You can add global styles to this file, and also import other style files */
@import "./app/shared/styles/theming.scss";
@import "./app/shared/components/toolbar/toolbar.scss";

/*********************
*全局样式格式化开始
********************/
html{
  font-size: 62.5%;
  text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
html,body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

li {
  list-style-type: none
}

a,a:hover,input {
  outline: 0
}
html hr,section {
  background: 0 0!important
}
body {
  position: fixed;
  margin: 0;
  max-height: 100%;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  -webkit-user-drag: none;
  -ms-content-zooming: none;
  touch-action: manipulation;
  word-wrap: break-word;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  text-size-adjust: none;
  user-select: none
}

ins{
  height:auto;
  display: inline;
}
input[placeholder]{
  color: color($h5,c4);
}

input, select, textarea {
  font-size: 100%
}

img {
  margin:0 auto;
  border:none;
  opacity: 1 ;
  max-width: 100% ;
  visibility: visible ;
}
:before,:after{
  display: none;
}
fieldset, img {
  border: 0
}

abbr, acronym {
  border: 0;
  font-variant: normal
}
html hr {
  border: none;
  background: none;
  display: none;
}

del {
  text-decoration: line-through
}

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: 500
}

ol, ul {
  margin: 0;
  padding-left: 0;
  list-style: none
}
p{
  margin: 0;
}
caption, th {
  text-align: left
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 500;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

a:hover,a:link,a:visited,div:hover {
  border:none ;
  outline:none;
  text-decoration: none ;
}

ins, a {
  text-decoration: none
}
ul li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #4f4f4f;
  outline: none
}
a:hover{
  outline:none;
}
a,button,input{
  -webkit-tap-highlight-color:rgba(0,0,0,0) !important;
}
button {
  border: 0;
  font-family: inherit;
  font-style: inherit;
  font-variant: inherit;
  line-height: 1;
  text-transform: none;
  cursor: pointer;
  touch-action: manipulation;
  -webkit-appearance: button;
  background: transparent;
}
input,button,select,textarea{
  outline:none;
}
img {
  border: 0 none;
  margin:0 auto;
  vertical-align: middle;
  -webkit-tap-highlight-color:rgba(255,0,0,0) !important;
}
input {
  _background-attachment: fixed;
  border: none;
  outline: none;
  vertical-align: middle;
  -webkit-tap-highlight-color:rgba(255,0,0,0) ;
}
section {
  background: none !important;
}

label {
  cursor: pointer;
}
i{
  font-style: normal;
}

.fn_left {
  float: left;
}
.fn_right {
  float: right;
}

.length {
  width: 100% !important;
}
.clear {
  clear: both;
  font-size: 0px;
  line-height: 0px;
}
.clear:after {
  content: "";
  line-height: 0;
  margin: 0;
  clear: both;
  height: 0;
  display: block;
  visibility: hidden;
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  content: "";
  line-height: 0;
  margin: 0;
  clear: both;
  height: 0;
  display: block;
  visibility: hidden;
}
.transfer {
  transition: all 0.2S ease-out 0s;
}
.transfer li {
  transition: all 0.2S ease-out 0s;
}
.overFlow {
  overflow: hidden;
}

.aHonver a:hover {
  color: #0565B9 !important;
  transition: all 0.2S ease-out 0s;
}
.aHover:hover {
  color: #0565B9;
  transition: all 0.2S ease-out 0s;
}
.colorHover a:hover {
  color: #fe6700;
  transition: all 0.2S ease-out 0s;
}

app-root{
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  display: block;
  word-break: break-all;
  @include font-dpr(28px);
  position: absolute;
}
.border {
  border: 1px solid color($h5,c8);
}
.border-tom {
  border-top: 1px solid color($h5,c8);
}
.border-left {
  border-left: 1px solid color($h5,c8);
}
.border-right {
  border-right: 1px solid color($h5,c8);
}
.border-bottom {
  border-bottom: 1px solid color($h5,c8);
}
.padding-20{
  padding: pxTorem(20px);
}
.padding-top-20{
  padding-top: pxTorem(20px);
}
.padding-left-20{
  padding-left: pxTorem(20px);
}
.padding-right-20{
  padding-right: pxTorem(20px);
}
.padding-bottom-20{
  padding-bottom: pxTorem(20px);
}
.padding-top-bottom-20{
  padding-top: pxTorem(20px);
  padding-bottom: pxTorem(20px);
}
.padding-left-right-20{
  padding-left: pxTorem(20px);
  padding-right: pxTorem(20px);
}

.padding-30{
  padding: pxTorem(30px);
}
.padding-top-30{
  padding-top: pxTorem(30px);
}
.padding-left-30{
  padding-left: pxTorem(30px);
}
.padding-right-30{
  padding-right: pxTorem(30px);
}
.padding-bottom-30{
  padding-bottom: pxTorem(30px);
}
.padding-top-bottom-30{
  padding-top: pxTorem(30px);
  padding-bottom: pxTorem(30px);
}
.padding-left-right-30 {
  padding-left: pxTorem(30px);
  padding-right: pxTorem(30px);
}

/*gray background*/
.gray-background{
  background-color: color($h5, c9);
}
/*gray gap*/
.top-gap{
  margin-top: pxTorem(15);
}
.bottom-gap{
  margin-bottom: pxTorem(15);
}
.distance-from-bottom {
  padding-bottom: pxTorem(50px);
}

.toast{
  max-width: 80%;
  padding: pxTorem(12) pxTorem(20);
  border-radius: 5%;
  background-color: rgba(0, 0, 0, 0.6);
  color: color($h5,c10);
  @include font-dpr(24px);
  line-height: pxTorem(30px);
  text-align: justify;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  -webkit-transform: translateX(-50%);
  transition: opacity 0.35s ease-out;
  -webkit-transition: opacity 0.35s ease-in-out;

  &.fadeIn{
    opacity: 1;
  }
}

.seed-confirm-bg{
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  background:black;
  opacity: 0.5
}
.seed-body-Father{
  display: flex;
  width:100%;
  height:100%;
  align-items:center;
  justify-content:center;
  .seed-confirm-Body{
    width:pxTorem(520);
    height:pxTorem(200);
    border-radius: pxTorem(15px);
    background: color($h5,c10);
    position: relative;
    z-index: 10;
    .confirm-title{
      width:100%;
      height:pxTorem(120);
      line-height: pxTorem(120);
      padding:0 pxTorem(10);
      box-sizing: border-box;
      text-align: center;
      @include font-dpr(28px);
      color:color($h5,c2);
      border-top-left-radius: pxTorem(15);
      border-top-right-radius: pxTorem(15);
    }
    .confirm-button{
      width:100%;
      overflow: hidden;
      height:pxTorem(80);
      border-top: 1px solid color($h5,c9);
      box-sizing: border-box;
      .confirm-yes{
        width:50%;
        height:pxTorem(80);
        line-height: pxTorem(80);
        @include font-dpr(30px);
        color:color($h5,c1);
        font-weight: bold;
        text-align: center;
        border-bottom-right-radius: pxTorem(15px);
        float:left;
      }
      .confirm-no{
        width:50%;
        height:pxTorem(80);
        line-height: pxTorem(80);
        @include font-dpr(30px);
        color:color($h5,c4);
        font-weight: bold;
        text-align: center;
        float:left;
        border-right:1px solid color($h5,c9);
        border-bottom-left-radius: pxTorem(15px);
        box-sizing: border-box;
      }
    }
  }
}

//协议样式
#article *{
  font-size: 1.8rem;
  line-height: 2.8rem;
  word-break: break-all;
}
#article .protocol-title{
  font-size: 2.2rem;
  padding-bottom:1rem;
}
#article .article-publish-info {
  color: #999999;
  margin-bottom: 1.5rem;
  border-bottom: 0.1rem solid #f0f0f0;
}
#article .article-publish-info span {
  font-size: 1.6rem;
}
#article .article img,#article .article video{
  width: 100%;
  max-width: 100%;
}

//资讯详情页面头部包含文章详情/评论详情,都是用此公共css
.icon-type {
  height: pxTorem(26px);
  margin: inherit;
  &.pl-20 {
    padding-left: pxTorem(20px);
  }
}
.article-template-title {
  padding: 0.26667rem;
  @include font-dpr(28px);
  color:color($h5,c3)
}
.article-template{
  display: -webkit-box;
  -webkit-box-flex: 1;
  padding: pxTorem(30px);
  &.article-template-summary {
    display: block;
    padding: pxTorem(20px);
    .header {
      display: flex;
      align-content: flex-start;
    }
    .article-template-content {
      flex-grow: 2;

      .source {
        padding-top: pxTorem(10px);
      }
    }
  }
  &.article-template-comments{
    padding:pxTorem(30px) !important;

    .poster-name {
      display: flex;
      align-items:center;
      justify-content: space-between;
    }
    .interface-item {
      padding-top: 0px !important;
    }
  }
  .article-template-icon {
    overflow: hidden;
    width: pxTorem(80px);
    height: pxTorem(80px);
    margin-right: pxTorem(16px);
    border-radius: pxTorem(64px);
    img {
      width: 100%;
      height: 100%;
      display:block;
      border-radius: pxTorem(64px);
    }
  }
  .article-template-content {
    -webkit-box-flex:1;
    .header {
      display: flex;
      overflow: hidden;
      .left-box {
        flex-grow: 1;
      }
    }

    .gallery {
      span.show{
        width:31%;
        width: 31%;
        display: inline-block;
        height: pxTorem(194px);
        &.gallery-img-type-0 {
          margin-right: pxTorem(14px);
        }
        &.gallery-img-type-2 {
          margin-left: pxTorem(14px);
        }
        img{
          width: 100%;
          height: 100%;
        }
      }

    }
    .interface-item {
      display: flex;
      align-items: flex-end;
     /* @extend .poster;*/
      justify-content: flex-end;
      padding-top: pxTorem(20px);
    }
  }
  .poster-name {
    @include font-dpr(28px);
    color: color($h5, c4);
    display: flex;
    align-items: center;

  }

  .type {
    font-weight: bold;
    @include font-dpr(28px);
    color: color($h5,c2);
    padding: pxTorem(10px) 0px ;
  }
  .article {
    h3 {
      font-weight: bold;
      @include font-dpr(28px);
      color:color($h5,c2);
      margin: pxTorem(15px) 0px;
    }
    .section {

      p {
        @include font-dpr(28px);
        color: color($h5, c3);
        margin: pxTorem(15px) 0px;
        text-align: justify;
      }
      img,video{
        width: 100%;
        max-width: 100%;
        margin: pxTorem(15px) 0px;
      }
      video{
        height: pxTorem(400px);
      }
      img{
        /*  height: pxTorem(500px);*/
        &.ng2-lazyloaded{
          height: auto;
        }
      }
    }

    p {
      @include font-dpr(28px);
      color: color($h5, c3);
      margin: pxTorem(15px) 0px;
      &.has-picture {
        img {
          width: 100%;
        }
      }
    }
    &.summary {
      p{
        overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        word-break: break-all;
        -webkit-box-orient: vertical;
        word-break: break-all;
      }

    }
  }
  .source {
    @include font-dpr(24px);
    color: color($h5,c4);
    display: flex;
    align-items:center;
    .separator {
      height:100%;
      display: inline-block;
      @include mix-dpr(width,2);
      @include mix-dpr(height,24);
      margin: 0px pxTorem(20px);
      background: color($h5,c8);
    }
    .tags {
      margin-right: pxTorem(5px);
    }
  }

  .button-subscription {
    width: pxTorem(115px);
    height: pxTorem(52px);
    float:right;
    position: relative;
    top:pxTorem(20px);
    background: url(#{$images-path}/subscript_icon_unfollow.png) no-repeat center center/contain;
    &.isFollow{
      background: url(#{$images-path}/subscript_icon_isfollow.png) no-repeat center center/contain;
    }
  }
}

//页面点赞留言按钮
.interface {
  color: color($h5, c4);
  display: flex;
  align-items: center;
  @include font-dpr(20px);

  & span.comment,& span.support{
    display: flex;
    align-items: center;
    label {
      width: pxTorem(25px);
      height: pxTorem(25px);
      display: inline-block;
      &.icon_new_message{
        background: url(#{$icons-path}/new_message.png) no-repeat center center/contain;
      }
      &.icon_new_Likes {
        background: url(#{$icons-path}/new_Likes.png) no-repeat center center/contain;

      }
      &.isDigg.icon_new_Likes{
        background: url(#{$icons-path}/new_Likes_hover.png) no-repeat center center/contain;
      }
      &.icon_new_message {
        background: url(#{$icons-path}/new_message.png) no-repeat center center/contain;
      }
    }
    span {
      @include font-dpr(20px);
      padding-left: pxTorem(5px);
    }
    padding-left:0.4rem;
  }

  &span.content {
  }
}


@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
img.ng-lazyloaded {
  animation: fadein 1s;
}

//右箭头
.right-arrow-icon {
  position: relative;
  &::after {
    content: '';
    display: inline-block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    @include icon(17, 28, '(../../../assets/icon/icon_more.png');
  }
}
.no-header{
  .seed-scroll-content{
    margin-top: 0!important;
  }
}

//网格
.seed-grid {
  * {
    box-sizing: border-box;
  }
  width: 100%;
  padding: 0px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  .seed-grid-row {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .seed-grid-col{
    position: relative;
    width: 100%;
    margin: 0;
    min-height: 1px;
  }
}

.share-picture {
  .seed-grid-col{
    padding: pxTorem(3px);
    div {
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 0;
      padding-top: 100%;
    }
  }
}
[col-4] {
  -ms-flex: 0 0 33.33333%;
  /* flex: 0 0 33.33333%;*/
  width: 33.33333%;
  max-width: 33.33333%;
  -webkit-flex: 0 0 33.33333%;
}
.icon-live:before{
  content: ' ';
  width: 100%;
  height: 100%;
  display: block;
  top: 0;
  left: 0;
  position: absolute;
  z-index: 3;
  background: url(#{$images-path}/icon_play.png) center center/35% no-repeat;
}
