@import '../shared/styles/theming.scss';
team {
  .avatar-wrap {
    position: relative;
    padding-bottom: pxTorem(30);
    .avatar-background {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0; //  filter: blur(5px);
      width: auto;
      height: auto;
      background-size: cover;
    }
    .filter {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      opacity: .4;
      background-color: #000;
    }
    .avatar-content {
      position: relative;
      padding-top: pxTorem(83);
      padding-bottom: pxTorem(38);
      text-align: center;
      .avatar {
        width: pxTorem(146);
        height: pxTorem(146);
        margin: auto;
        border-radius: 50%;
        background-color: #ccc;
      }
      h1 {
        margin: pxTorem(20) 0;
        @include font-dpr(34px);
        color: color($h5, c10);
      }
      p {
        margin-top: pxTorem(20);
        @include font-dpr(26px);
        color: color($h5, c7);
      }
    }
  }
  nav {
    position: relative;
    display: flex;
    height: pxTorem(100);
    line-height: pxTorem(100);
    margin-top: -20px;
    text-align: center;
    border-top-left-radius: pxTorem(30);
    border-top-right-radius: pxTorem(30);
    background-color: #fff;
    a {
      flex: 1;
      span {
        display: inline-block;
        height: 100%;
        @include font-dpr(28px);
        color: color($h5, c3);
      }
      .active {
        border-bottom: 2px solid color($h5, c1);
        color: color($h5, c1);
      }
    }
  }
}

//模块标题
.module {
  margin-top: pxTorem(15);
  padding-top: pxTorem(30);
  background-color: #fff;
  .module-title {
    display: flex;
    align-items: center;
    justify-content: space-between; // padding-top: pxTorem(30);
    margin-top: 0;
    margin-bottom: pxTorem(50);
    padding-left: pxTorem(20);
    padding-right: pxTorem(50);
    @include font-dpr(30px);
    color: color($h5, c2);
    border-left: 3px solid color($h5, c1);
    &::after {
      right: pxTorem(30);
    }
    span {
      margin-top: 0;
      @include font-dpr(24px);
      color: color($h5, c4);
      text-align: right; // margin-right: pxTorem(18);
    }
  }
  .reset-margin {
    margin-bottom: pxTorem(40);
  }
}

//球队主页公用样式
.team-grid-list {
  display: flex;
  flex-wrap: wrap;
  li {
    width: 33.33%;
    margin-bottom: pxTorem(40);
    align-items: center;
    text-align: center;
    @include font-dpr(24px);
    color: color($h5, c4);
    background-color: #fff;
  }
  canvas {
    display: block;
    margin: 0 auto pxTorem(10) auto;
  }
  span {
    display: block;
    margin-bottom: pxTorem(5);
    @include font-dpr(38px);
    color: color($h5, c2);
  }
  .chinese-text {
    @include font-dpr(32px);
  }
} //无数据缺省
.no-record-wrap {
  padding-bottom: pxTorem(64);
  text-align: center;
  background-color: #fff;
  .no-record-icon {
    margin: pxTorem(70) auto 0 auto;
  }
  .no-record-text {
    @include font-dpr(28px);
    color: color($h5, c4);
  }
}

team-channel,
schedule-channel,
fans-channel {
  .spellMissingPage1 {
    margin-top: pxTorem(70);
    padding-top: 0!important;
  }
}
