@import '../../shared/styles/theming.scss';
@import '../register/register.component.scss';

.set-password-content {
    padding:pxTorem(40px) pxTorem(45px) 0px;
    .prompt-text{
        color: color($h5,c5);
        @include font-dpr(24px);
    }
    .register-box {
        width: 100%;
        display: flex;
        border-bottom: pxTorem(1) solid color($h5, c8);
        // background: url("../../assets/images/login_hr.png") bottom center/contain repeat-x;
        position: relative;
        padding: 0 0px pxTorem(30px);
        &.register-box-verify-code{
            padding: pxTorem(50px) 0px pxTorem(30px);
        }
        .register-box-icon {
            width: pxTorem(30px);
            height:pxTorem(40px);
            display: flex;
            align-items: center;
        }
        .register-box-input {
            @include font-dpr(30px);
            color: color($h5,c2);
            flex-grow: 2;
            display: inline-flex;
            input{
                text-indent:0px;    
            }
            &::-webkit-input-placeholder {
                color: color($h5,c2);
            }
        }
    }
    .login-button {
      width: 100%;
      height: pxTorem(90px);
      margin-top: pxTorem(50px);
      border-radius: pxTorem(10px);
      // border: 1px solid color($h5,c10);
      // background: rgba(255,255,255,0.2);
      button {
        border:0 ;
        border-radius: pxTorem(8px);
        display: block;
        width: 100%;
        height: 100%;
        text-align: center;
        background: color($h5,c1);
        @include font-dpr(30px);
        color:color($h5,c10);
        &[disabled]{
          background: rgba(color($h5,c1),0.6);
        }
      }
    }
}