<!--<seed-blank-header [title]="'设置密码'"></seed-blank-header>-->
<seed-content>
<div class="set-password-content">
  <form [formGroup]="passwordForm" (submit)="onRegister()">
    <div class="prompt-text">
      密码由6-16位字母(区分大小写)、数字或下划线组成
    </div>
    <div class="phone-msg">
      <div *ngIf="checkValid">
        <p class='error-msg'>{{mesg}}</p>
      </div>
    </div>
    <div class="register-box register-box-account">
      <div class="register-box-input">
        <input type="text" formControlName="password" name="set-password" id="set-password" placeholder="请输入新密码">
      </div>
    </div>
    <div class="register-box register-box-verify-code">
      <div class="register-box-input">
        <input type="text" name="set-password-again" formControlName="repassword" id="set-password-again" placeholder="请再次输入新密码">
      </div>
    </div>
    <div class="login-button">
      <button type="submit" [disabled]="!passwordForm.valid">下一步</button>
    </div>
  </form>
</div>
<login-logo></login-logo>
</seed-content>