@import "../../shared/styles/theming.scss";
local-city {
  .seed-scroll-content {
    -webkit-overflow-scrolling: auto!important;
  }
  .title {
    padding-left: pxTorem(20);
    padding-right: pxTorem(50);
  } //当前城市
  .current-city {
    overflow-y: scroll;
    max-height: 50%;
    background-color: #fff;
    p {
      display: flex;
      justify-content: space-between;
      height: pxTorem(88);
      line-height: pxTorem(88);
    }
    i {
      @include font-dpr(22px);
      color: color($h5, c3);
    }
    .no-area {
      display: flex;
      align-items: center;
      justify-content: center;
      height: pxTorem(386);
      color: color($h5, c4);
    }
    .active {
      color: color($h5, c1);
    }
    i {
      position: relative;
      &::after {
        position: absolute;
        content: '';
        top: 0;
        bottom: 0;
        margin: auto 0 auto pxTorem(5);
        @include icon(15, 15, '#{$icons-path}/arrow.png');
      }
      &.select::after {
        transform: rotate(180deg);
      }
    }
  } //热门城市
  .hot-city {
    margin-bottom: pxTorem(20);
    @include font-dpr(26px);
    .title {
      padding-left: pxTorem(20);
      color: color($h5, c4);
      font-weight: bold;
    }
  }
  .city-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 pxTorem(10);
    li {
      width: 33%;
      height: pxTorem(74);
      margin-bottom: pxTorem(20);
      padding: 0 pxTorem(10);
      line-height: pxTorem(74);
      text-align: center;
    }
    span {
      display: inline-block;
      overflow: hidden;
      width: 100%;
      white-space: nowrap;
      text-overflow: ellipsis;
      border-radius: pxTorem(8);
      border: 1px solid color($h5, c8);
      color: color($h5, c2);
      background-color: #fff;
    }
  } //全部城市
  dl {
    margin-top: 0;
    margin-bottom: 0;
    dt {
      height: pxTorem(80);
      line-height: pxTorem(80);
      color: color($h5, c4);
      font-weight: bold;
    }
    dd {
      height: pxTorem(80);
      margin-left: 0;
      padding-left: pxTorem(30);
      line-height: pxTorem(80);
      @include font-dpr(28px);
      border-bottom: 1px solid color($h5, c8);
      color: color($h5, c3);
      background-color: #fff;
      &:last-of-type {
        border-bottom: none;
      }
    }
  } //字母导航
  .letter-nav {
    position: fixed;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: pxTorem(28);
    margin-top: pxTorem(90px);
    text-align: center;
    a {
      color: color($h5, c1);
    }
  }
}
